<!DOCTYPE html>

{% load static %}
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>SLEEP</title>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>


<body>
    <div class="container">
        <div class="jumbotron">
            <div class="row">
                <div class="col-xs-8">
                    <h1>Nindra</h1>
                    <p>Majjale sutnus.</p>
                </div>
                <div class="col-xs-4">
                    <img src='{% static "image/logo.png" %}' class="img-responsive" />
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>


        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
    </div>
</body>

</html>